* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0072d3;
}

.navbar ul {
  overflow: auto;
  margin-left: 61px;
}

.navbar li a {
  text-decoration: none;
  padding: 3px 3px;
  color: aliceblue;
  font-size: 23px;
  font-weight: bold;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 20px 22px;
}

.login {
  display: flex;
  position: absolute;
  margin-left: 980px;
}
.navbar li a:hover{
     color: salmon;
}
.nav1 {

  display: flex;
  position: absolute;
  margin-left: 316px;
}


.cultural{
  background-color: burlywood;
  height: 15vh;
  width: 100vw;
  margin-top: 34px;
  text-align: center;
}
.sports{
  background-color: red;
  height: 15vh;
  width: 100vw;
  text-align: center;
  margin-top: 50px;
}