body {
    background-color: #a6adb55e;
}
.container
{
    margin-top: 42px;
    background-color: white;
    height: 48vh;
    width: 30vw;
    margin-left: 34vw;
    text-align: center;
    padding-top: 46px;
    

    background: transparent;
    box-shadow: 8px 12px 48px #c4bbff;
    border: 2px solid white;
    border-radius: 11px;
}
