@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@300;400&family=Mukta:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@300;400&family=Mukta:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #a6adb55e;
}

.container {
    margin-top: 17px;
    background-color: white;
    height: 630px;
    width: 490px;
    margin-left: 517px;
    text-align: center;
    padding-top: 46px;



    box-shadow: 8px 12px 48px #c4bbff;
    border: 2px solid white;
    border-radius: 11px;

    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
}

.usernamei {
    width: 202px;
    height: 32px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    background: cornsilk;
    font-size: 19px;
    padding: 8px;
    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;

}

.usernameL {
    width: 202px;
    height: 32px;
    margin-right: 12px;
    font-size: 21px;
    color: rgb(15, 13, 13);
}
.FirstNamei{
    width: 202px;
    height: 32px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    background: cornsilk;
    font-size: 19px;
    padding: 8px;
    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
}