* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0072d3;
}

.navbar ul {
  overflow: auto;
  margin-left: 61px;
}

/* .nav-a {
  text-decoration: none;
  padding: 3px 3px;
  color: aliceblue;
  font-size: 23px;
  font-weight: bold;
} */
.navbar li a {
  text-decoration: none;
  padding: 3px 3px;
  color: aliceblue;
  font-size: 23px;
  font-weight: bold;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 20px 22px;
}

.login {
  display: flex;
  position: absolute;
  margin-left: 60vw;
}
.navbar li a:hover{
     color: salmon;
}
.nav1 {

  display: flex;
  position: absolute;
  margin-left: 19vw;
}